* {margin: 0; padding: 0;}

.bg {
<<<<<<< Updated upstream
	box-sizing: border-box;
	border: 2px solid hsl(158, 36%, 37%);
	background-color: hsl(30, 38%, 92%);
	width: auto;
	height: 100vh;
	object-fit: center;

}

.ad_container {
	background-color: white;
	width: 93%;
	height: 93%;
	margin: auto auto;
	border-radius: 10px;
	margin-top: 5%;
}

.ad_container article{
	padding-left: 7.5%;
	padding-right: 7.5%;
	padding-top: 6%;
=======
	display: flex;
	background-color: hsl(30, 38%, 92%);
	width: auto;
	height: 100vh;
	align-items: center;
    flex-direction: column;
    justify-content: center;
	box-sizing: border-box;
	border: 1px solid hsl(158, 36%, 37%);
}

 .ad_container{
 	flex: 1;
 	margin: auto;
 	margin-top: 6%;
 	margin-bottom: 6%;
	background-color: white;
	width: 21rem;
	height: 100vh;
	border-radius: 10px;
>>>>>>> Stashed changes
}

.ad_container > picture > img{
	width: 21rem;
	height: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
}

<<<<<<< Updated upstream
.img_product {
	width: 100%;
	border-top-left-radius: 10px ;
	border-top-right-radius: 10px ;
}

.img_product_Desk {
	display: none;
	flex: 1;
	width: 50%;
	height: 100%;
	border-top-left-radius: 10px ;
	border-bottom-left-radius: 10px ;
=======
 .ad_container article{
 	position: absolute;
 	top: 16.5rem;
 	left: 2.5rem;
	width: 19rem;
>>>>>>> Stashed changes
}

p {
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 23px;
	color: hsl(228, 12%, 48%);
	margin-top: 15px;
	text-justify: left;
}

.moneyfont {
	align-items: center;
	font-family: Fraunces;
	font-size: 32px;
	line-height: 30px;
	color: hsl(158, 36%, 37%);
}

h1 {
	font-size: 35px;
	margin-top: 5px; 
	color: black;
	line-height: 35px;

}

.add_to_cart {
	position: absolute;
	align-items: center;
	display: block;
	justify-content: center;
	background-color: hsl(158, 36%, 37%);
<<<<<<< Updated upstream
	width: 100%;
	line-height: 40px;
=======
	width: 17.5rem;
	line-height: 50px;
>>>>>>> Stashed changes
	border-radius: 7px;
	color: white;
	font-family: 'Montserrat';
	font-size: 14px;
	margin-top: 20px;
	border: 1px;
}

.add_to_cart:hover {
	background-color: darkgreen;

}

.detail{
	The previous price was...
}

.oldprice {
	position: fixed;
	padding-left: 10px;
	padding-top: 2px;
}


@media only screen and (min-width: 376px) {

	.bg {
	display: flex;
	background-color: hsl(30, 38%, 92%);
	width: auto;
	height: 100vh;
	align-items: center;
    flex-direction: column;
    justify-content: center;
	box-sizing: border-box;
	border: 1px solid hsl(158, 36%, 92%);
}

 .ad_container{
 	display: flex;
 	position: absolute;
 	margin: auto;
 	margin-top: 6%;
 	margin-bottom: 6%;
	background-color: white;
	width: 33rem;
	height: 24.7rem;
	border-radius: 10px;
}

.ad_container > picture > img{
	position: absolute;
	width: 16.5rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 0px;	
	border-bottom-left-radius: 10px;	
}

 .ad_container article{
 	position: absolute;
 	width: 14rem;
 	top: 0;
 	left: 17.5rem;

}


.moneyfont {
	align-items: center;
	font-family: Fraunces;
	font-size: 32px;
	line-height: 30px;
	color: hsl(158, 36%, 37%);
}

h1 {
	font-size: 35px;
	margin-top: 10px; 
	color: black;
	line-height: 35px;

}
.add_to_cart {
	position: absolute;
	align-items: center;
	display: block;
	justify-content: center;
	background-color: hsl(158, 36%, 37%);
	width: 14.5rem;
	line-height: 40px;
	border-radius: 7px;
	color: white;
	font-family: 'Montserrat';
	font-size: 14px;
	margin-top: px;
	border: 1px;


}

.add_to_cart:hover {
	background-color: darkgreen;







<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
}


