* {margin: 0; padding: 0;}

.bg {
	box-sizing: border-box;
	border: 2px solid hsl(158, 36%, 37%);
	background-color: hsl(30, 38%, 92%);
	width: auto;
	height: 100vh;
	object-fit: center;

}

.ad_container {
	background-color: white;
	width: 93%;
	height: 93%;
	margin: auto auto;
	border-radius: 10px;
	margin-top: 5%;
}

.ad_container article{
	padding-left: 7.5%;
	padding-right: 7.5%;
	padding-top: 6%;
}


.img_product {
	width: 100%;
	border-top-left-radius: 10px ;
	border-top-right-radius: 10px ;
}

.img_product_Desk {
	display: none;
	flex: 1;
	width: 50%;
	height: 100%;
	border-top-left-radius: 10px ;
	border-bottom-left-radius: 10px ;
}

p {
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 23px;
	color: hsl(228, 12%, 48%);
	margin-top: 15px;
}

.prices{

}

.moneyfont {
	align-items: center;
	text-justify: ;
	font-family: Fraunces;
	font-size: 30px;
	line-height: 30px;
	padding-top: 15px;
	color: hsl(158, 36%, 37%);

}

.oldprice {
	position: fixed;
	padding-bottom: 20px;
}

.add {
	display: flex;
	align-items: center;
	display: block;
	justify-content: center;
	background-color: hsl(158, 36%, 37%);
	width: 100%;
	line-height: 40px;
	border-radius: 7px;
	color: white;
	font-family: 'Montserrat';
	font-size: 14px;
	margin-top: 20px;
	border: 1px;
}

.add:hover{
	background-color: black;

}
.strikework {
	position: fixed;
	margin-left: 13px;
	margin-top: 3px;
	text-decoration: line-through;

}


@media only screen and (min-width: 1440px) {


    .bg {
    box-sizing: border-box;
    border: 2px solid hsl(30, 38%, 92%);
	background-color: hsl(30, 38%, 92%);
	width: auto;
	height: 100vh;
}

  .ad_container {
  	display: flex;
	background-color: white;
	width: 40%;
	height: 45%;
	border-radius: 10px;
	margin-top: 15%;
	margin: auto;
	margin-top: 15%;
}

.ad_container article{
	flex: 1;
	width: 50%;
	padding-left: 6.0%;
	padding-right: 6.0%;
}

.add {
	margin-top: 40px;
}

.prices{
	margin-top: 25px;
}

.img_product {
	display: none;
	width: 100%;
	border-top-left-radius: 10px ;
	border-top-right-radius: 10px ;

}

.img_product_Desk {
	display: flex;
	flex: 1;
	width: 50%;
	height: 100%;
	border-top-left-radius: 10px ;
	border-bottom-left-radius: 10px ;
} 

p {
	font-family: 'Montserrat';
	line-height: 25px;


}


